# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution & Build folders
build/
dist/
*.egg-info/
.eggs/

# Binary & Assembly Build Outputs
*.obj
*.exe
*.asm

# IDE files
.vscode/
.idea/
